.a {
  background: linear-gradient(
    to bottom,
    #f6b1b6,
    #406AFF
  );
  -webkit-background-clip: text;
  color: transparent;
}

.b {
  background: linear-gradient(
    to right,
    #DE4396,
    #0D1C9F
  );
  -webkit-background-clip: text;
  color: transparent;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or::before {
  content: "";
  margin-right: 1rem;
  width: 80px;
  height: 1px;
  background-color: black;
}
.or::after {
  content: "";
  margin-left: 1rem;
  width: 80px;
  height: 1px;
  background-color: black;
}
