.a {
  background: linear-gradient(
    to bottom,
    #f231d1,
    #e448d7,
    #d659da,
    #c865dc,
    #bb6fdc
  );
  -webkit-background-clip: text;
  color: transparent;
}

.b {
  background: linear-gradient(
    to right,
    #bb6fdc,
    #c865dc,
    #d659da,
    #e448d7,
    #f231d1
  );
  -webkit-background-clip: text;
  color: transparent;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or::before {
  content: "";
  margin-right: 1rem;
  width: 80px;
  height: 1px;
  background-color: black;
}
.or::after {
  content: "";
  margin-left: 1rem;
  width: 80px;
  height: 1px;
  background-color: black;
}
