.decmid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main6btn {
  background: linear-gradient(
    to right,
    #DE4396,
    #0D1C9F
  );
  border-radius: 20px;
}
.main6 {
  background: linear-gradient(
    to right top,
    #b0d4e7,
    #c1d6e8,
    #cfd9e7,
    #dadde5,
    #e2e2e3
  );
}
