.headerbutton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #c68efd;
}
.headerbutton:hover {
  color: #725ac1;
}

.headerbutton {
  --primary-color: #c68efd;
  --hovered-color: #725ac1;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.headerbutton p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.headerbutton::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -15px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.5s ease-out;
}

.headerbutton p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.5s ease-out;
}

.headerbutton:hover::after {
  width: 100%;
}

.headerbutton:hover p::before {
  width: 100%;
}

.headerbutton:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.headerbutton svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
