.content {
  position: relative;
}
.content::before {
  content: "";
  width: 80px;
  position: absolute;
  height: 5px;
  background: linear-gradient(
    to right,
    #a40de5,
    #ac1ee2,
    #b32adf,
    #b935dc,
    #bf3fda
  );
  top: -20px;
}
.main3_bottom {
  position: relative;
}
.main3_bottom::before {
  content: "";
  width: 80px;
  position: absolute;
  height: 5px;
  background: linear-gradient(
    to right,
    #a40de5,
    #ac1ee2,
    #b32adf,
    #b935dc,
    #bf3fda
  );
  top: -20px;
}

.main3 {
  position: relative;
}
.main3::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: black;
  opacity: 0.4;
}
.main3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: black;
  opacity: 0.4;
}
.dot2 {
  position: absolute;
  bottom: -15px;
  left: 25%;
  z-index: 1;
}
@media (min-width: 1020px) {
  .dot2 {
    position: absolute;
    bottom: -30px;
    left: 25%;
    z-index: 1;
  }
}
